{% extends "base.html" %}

{% block content %}


<div class="col-lg-8 col-lg-offset-4 text-center">
<h3>
  <cite>
    “Breaching the gap between newcomers and the job market by providing networking and job forecast.”
  </cite>
</h3>

<h3> Mission </h3>

To facilitate job seeking and enable establishing oneself/family for newcomers in Sweden Build social networks relevant to skills e.g. Engineers finds engineers.

<h3> Vision </h3>

To decrease the discrimination and increase opportunities for all people in the society Decrease overqualification on the job market / Matching skills better

<h3> Purpose </h3>

<p>
  Today it takes about 5 years for a newcomer to become employed in Sweden. A lot can happen in 5 years! A third of newcomers have an education equal to or higher than high school diploma (they have an easier time finding a job). Today it takes ~5 years to get a job, for newcomers. Social networking can lead to finding relevant contacts within one’s field of work. It also helps developing language skills. So, not only is properly guided job seeking important but so is associative time, where networking can enable connecting with the right people. This can increase better matchmaking between job and skills. We present a service that through user input suggests related occupations to their skills and suggesting meet-ups events related to their interests. This is done through combining Arbetsförmedlingen APIs and an open source API from Meetup.
</p>


{% endblock %}
